<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1>{% block header %}Loan Calculator{% endblock %}</h1>

        {% block body %}

      <form action="{{ url_for( 'total' ) }}" method="post">

      <h3>Amount of Loan</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="loan_amount">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <h3>Percentage</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">%</span>
        </div>
        <input type="number" class="form-control" aria-label="Percentage" name="percentage">
        <div class="input-group-append">
          <span class="input-group-text"></span>
        </div>
      </div>

      <h3>Number of months</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"># of Months</span>
        </div>
        <input type="number" class="form-control" aria-label="Months of term" name="term">
        <div class="input-group-append">
          <span class="input-group-text"></span>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Calculate</button>

      <br>
      <br>

      <h3>Monthly Payment</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <output type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="monthly">{{ monthly_payment }}</output>
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <h3>Total Finance Charges</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <output type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="finance_charges">{{ finance_charges }}</output>
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>

      </form>

    </div>
</div>

</body>
    {% endblock %}
</html>